<!DOCTYPE html>
<html>
<head>
  <title>Админ-панель</title>
  <link rel="stylesheet" href="..\public\style.css">
</head>
<body>
  <div class="form-container">
    <h1>Все заявки</h1>

    {{#if apps.length}}
      {{#each apps}}
        <div class="app-item">
          <p><strong>ID клиента:</strong> {{user_id}}</p>
          <p><strong>Марка:</strong> {{car_brand}}, <strong>Модель:</strong> {{car_model}}</p>
          <p><strong>Дата:</strong> {{date_test}}, <strong>Время:</strong> {{time_test}}</p>
          <p><strong>Статус:</strong> {{status}}</p>

          <form method="POST" action="/admin/update">
            <input type="hidden" name="id" value="{{id}}">
            <select name="status">
              <option value="одобрено">Одобрено</option>
              <option value="выполнено">Выполнено</option>
              <option value="отклонено">Отклонено</option>
            </select>
            <input name="reason" placeholder="Причина отклонения">
            <button type="submit">Обновить</button>
          </form>
        </div>
      {{/each}}
    {{else}}
      <p>Нет заявок.</p>
    {{/if}}

    <div style="text-align: center; margin-top: 20px;">
      <a href="/logout" class="btn">Выйти</a>
    </div>
  </div>
</body>
</html>
